* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  background-color: #000;
}

#titleScreen{
  padding-top: -200px;
  text-align: center;
  font-family: 'chunkfiveroman';
  font-size: 24px;
  
  background-repeat:no-repeat;
  background-position: 48% 0px;
}
input{
  display : block; 
  margin : auto;  
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border:none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; //For Mozilla, etc.
    border-radius: 5px; //CSS3 Feature  
}
.game {

  margin: 0px auto;
}
canvas{ 
    display : block; 
    margin : auto;           
} 
#clickMe, #clickMe2 {
  width: 285px;
}
#rankMessage{
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: #fff;
}
#message{
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top:250px;;
  text-align: center;
  color: #fff;
}
#instruc{
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: #fff;  
}
#nameInput{
  width: 300px;
  text-align: left;
  margin: 0 auto;
}