* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  background-color: #3c868c;
}

#titleScreen{
  padding-top: 240px;
  text-align: center;
  font-family: 'chunkfiveroman';
  font-size: 24px;
  background-image:url('../assets/titleScreen.png');
  background-repeat:no-repeat;
  background-position: 48% 0px;
}
input{
  display : block; 
  margin : auto;  
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border:none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; //For Mozilla, etc.
    border-radius: 5px; //CSS3 Feature  
}
.game {

  margin: 0px auto;
}
canvas{ 
    display : block; 
    margin : auto;           
} 
#clickMe, #clickMe2 {
  width: 285px;
}