* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  background-color: #5b676d;
}

#titleScreen{
  padding-top: 180px;
  text-align: center;
  font-family: 'chunkfiveroman';
  font-size: 42px;
  background-image:url('../assets/titleScreen.png');
  background-repeat:no-repeat;
  background-position: center 0px;
}
input{
  display : block; 
  margin : auto;  
  text-align: center;
}
.game {

  margin: 0px auto;
}
canvas{ 
    display : block; 
    margin : auto;           
} 